// Colors
$bg-pry: #000000;
$bg-sec: #202022;
$txt-pry: #ffffff;
$txt-sec: #949495;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
}

// Tags
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  color: $txt-sec;
  background-color: $bg-pry;
  background-attachment: fixed;
  width: 85vw;
}
a {
  color: $txt-sec;
  text-decoration: none;
  font-family: 'Roboto Mono';
  text-decoration: underline;
  p {
    padding: 0 0.5em;
  }
}
// Global Classes
p.header {
  color: $txt-pry;
  font-size: 2rem;
}
p.title {
  color: $txt-pry;
  font-size: 1.3rem;
}
p.sub {
  color: $txt-sec;
}
span.typed-cursor {
  display: none;
}

// Id's
#txt-intro,
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#scroll {
  display: flex;
}

section {
  margin: 2em 0;
  p.header {
    margin: 0;
    padding: 1em 0 0 0;
    align-self: flex-start;
  }
}

// Specific
div.rectangle {
  border-radius: 0.4em;
  background: $bg-sec;
  width: 100%;
  padding: 2em;
  margin: 0.5em 0;
  transition: all ease-in-out 200ms;

  div.buttons {
    display: flex;
    justify-content: flex-end;
    a {
      margin: 0;
    }
    .btn {
      cursor: pointer;
      margin: 1.5em 0 0 0.5em;

      &:hover {
        color: $txt-pry;
      }
    }
  }

  &:last-child {
    cursor: pointer;
    div.buttons {
      display: none;
    }

    &:hover {
      background: $txt-pry;

      p.title {
        color: $bg-pry;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  body {
    width: 80vw;
    // height: 100vh;
  }
  #app {
    display: flex;
    align-items: center;
    height: 100vh;
    .wrapper {
      width: 50%;
      height: fit-content;
    }
  }
  #scroll {
    display: none;
  }
  footer {
    opacity: 1;
  }
  div.rectangle:hover {
    transform: scale(1.1);
  }
}
