$pry-text: #949495;
$sec-text: #ffffff;
$pry-color: #151515;
$sec-color: #202022;
$header: 3rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// TAGS
body {
  font-family: 'Karla', sans-serif;
  background: $pry-color;
}

ul {
  display: flex;
  width: 100%;
  padding: 0;

  li {
    list-style: none;
    margin: 0 1em;
  }

  li.link-item:hover {
    color: $pry-text;
    cursor: pointer;
  }
}

// GLOBAL CLASSES
.sec {
  color: $sec-text;
}

.pry {
  color: $pry-text;
}

.link {
  font-style: italic;
}

.txt-x2 {
  font-size: $header;
  font-weight: 700;
}

.container {
  padding: 1em 2em;
}

// ID's
#section {
  margin: 0 auto;
}

// SPECIFIC CLASSES
div.rectangle {
  position: relative;
  background: $sec-color;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin: .5em auto;

  div.text {
    padding: 3em 2em;
    
    p {
      margin: 0;
    }
    p.sec {
      font-size: 1rem;
    }
  }
  
  div.link-container {
    position: absolute;
    top: .5em;
    right: .5em;
    display: none;
  }
}

div.rectangle:hover {
  transform: scale(1.05);
  div.link-container {
    display: initial;
  }
}


@media screen and (min-width: 900px) {
  div#app.flex {
    display: flex;
  }

  div.rectangle {
    div.text {
      p.sec {
        font-size: 1.5rem;
      }
    }
  }
  #hero {
    padding: 6em;
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
  }
  #section {
    width: 55vw;
    position: absolute;
    right: 0;
  }
}