$pry-text: #949495;
$sec-text: #ffffff;
$pry-color: #151515;
$sec-color: #202022;
$alt-color: rgba(32, 32, 34, 0.5);
$header: 2.5rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

// TAGS
body {
  font-family: 'Karla', sans-serif;
  background: $pry-color;
}

ul {
  display: flex;
  padding: 0;
  margin-top: 2em;

  li {
    list-style: none;
    margin-right: 2em;
  }

  li.link-item:hover {
    color: $pry-text;
    cursor: pointer;
  }
}

// GLOBAL CLASSES
.sec {
  color: $sec-text;
}

.pry {
  color: $pry-text;
}

.link {
  font-style: italic;
}

.txt-x2 {
  font-size: $header;
  font-weight: 700;
}

.container {
  padding: 1em 2em;
}

.modal {
  position: fixed;
  padding: .5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20vh;
  bottom: 20vh;
  left: 1em;
  right: 1em;
  background: $sec-color;
  z-index: 99;
  transition: all 300ms;
  // box-shadow: 0px 0px 10px $alt-color;
}

// ID's
#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  margin-top: 1em;
}

#section {
  margin: 2em auto;
}

// SPECIFIC CLASSES
div.rectangle {
  background: $sec-color;
  transition: all 200ms ease-in-out;
  margin: .5em auto;
  cursor: pointer;

  div.text {
    padding: 3em 2em;

    p {
      margin: 0;
    }

    p.sec {
      font-size: 1rem;
    }
  }
}

div.noDisplay {
  display: none;
}





@media screen and (min-width: 900px) {
  div#app.flex {
    display: flex;
  }

  div.rectangle {
    div.text {
      p.sec {
        font-size: 1.5rem;
      }
    }
  }

  .modal {
    left: 20vw;
    right: 20vw;
  }

  #hero {
    padding: 6em;
    width: 45vw;

    position: fixed;
  }

  #section {
    width: 55vw;
    position: absolute;
    right: 0;
  }

  div.rectangle:hover {
    transform: scale(1.05);
  }
}