*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  color: #949495;
  background-color: #000000;
  width: 85vw;
}

a {
  color: #949495;
  text-decoration: none;
  font-family: "Roboto Mono";
  text-decoration: underline;
}
a p {
  padding: 0 0.5em;
}

p.header {
  color: #ffffff;
  font-size: 2rem;
}

p.title {
  color: #ffffff;
  font-size: 1.3rem;
}

p.sub {
  color: #949495;
}

span.typed-cursor {
  display: none;
}

#txt-intro,
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scroll {
  display: flex;
}

section {
  margin: 2em 0;
}
section p.header {
  margin: 0;
  padding: 1em 0 0 0;
  align-self: flex-start;
}

div.rectangle {
  border-radius: 0.4em;
  background: #202022;
  width: 100%;
  padding: 2em;
  margin: 0.5em 0;
  transition: all ease-in-out 200ms;
}
div.rectangle div.buttons {
  display: flex;
  justify-content: flex-end;
}
div.rectangle div.buttons a {
  margin: 0;
}
div.rectangle div.buttons .btn {
  cursor: pointer;
  margin: 1.5em 0 0 0.5em;
}
div.rectangle div.buttons .btn:hover {
  color: #ffffff;
}
div.rectangle:last-child {
  cursor: pointer;
}
div.rectangle:last-child div.buttons {
  display: none;
}
div.rectangle:last-child:hover {
  background: #ffffff;
}
div.rectangle:last-child:hover p.title {
  color: #000000;
}

@media screen and (min-width: 900px) {
  body {
    width: 80vw;
  }

  #app {
    display: flex;
    align-items: center;
    position: relative;
  }
  #app #txt-intro {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  #app section {
    position: absolute;
    top: 5em;
    right: 0;
    left: 50%;
    height: fit-content;
  }
  #app section .bottomm {
    padding-bottom: 5em;
  }

  #scroll {
    display: none;
  }

  footer {
    opacity: 1;
  }

  div.rectangle:hover {
    transform: scale(1.1);
  }
}