*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  background: #151515;
}

ul {
  display: flex;
  padding: 0;
  margin-top: 2em;
}
ul li {
  list-style: none;
  margin-right: 2em;
}
ul li.link-item:hover {
  color: #949495;
  cursor: pointer;
}

.sec {
  color: #ffffff;
}

.pry {
  color: #949495;
}

.link {
  font-style: italic;
}

.txt-x2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.container {
  padding: 1em 2em;
}

.modal {
  position: fixed;
  padding: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20vh;
  bottom: 20vh;
  left: 1em;
  right: 1em;
  background: #202022;
  z-index: 99;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 0px 0px 1000px rgba(14, 14, 14, 0.9);
}

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  margin-top: 1em;
}

#section {
  margin: 2em auto;
}

div.rectangle {
  background: #202022;
  transition: all 200ms ease-in-out;
  margin: 0.5em auto;
  cursor: pointer;
}
div.rectangle div.text {
  padding: 3em 2em;
}
div.rectangle div.text p {
  margin: 0;
}
div.rectangle div.text p.sec {
  font-size: 1rem;
}

div.noDisplay {
  display: none;
}

@media screen and (min-width: 900px) {
  div#app.flex {
    display: flex;
  }

  div.rectangle div.text p.sec {
    font-size: 1.5rem;
  }

  .modal {
    left: 20vw;
    right: 20vw;
  }

  #hero {
    padding: 6em;
    width: 45vw;
    position: fixed;
  }

  #section {
    width: 55vw;
    position: absolute;
    right: 0;
  }

  div.rectangle:hover {
    transform: scale(1.05);
  }
}