*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  background: #151515;
}

ul {
  display: flex;
  padding: 0;
  margin-top: 2em;
}
ul li {
  list-style: none;
  margin-right: 2em;
}
ul li.link-item:hover {
  color: #949495;
  cursor: pointer;
}

.sec {
  color: #ffffff;
}

.pry {
  color: #949495;
}

.link {
  font-style: italic;
}

.txt-x2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.container {
  padding: 1em 2em;
}

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  margin-top: 1em;
}

#section {
  margin: 2em auto;
}

div.rectangle {
  background: #202022;
  transition: all 200ms ease-in-out;
  margin: 0.5em auto;
  cursor: pointer;
}
div.rectangle div.text {
  padding: 3em 2em;
}
div.rectangle div.text p {
  margin: 0;
}
div.rectangle div.text p.sec {
  font-size: 1rem;
}

div.rectangle:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 900px) {
  div#app.flex {
    display: flex;
  }

  div.rectangle div.text p.sec {
    font-size: 1.5rem;
  }

  #hero {
    padding: 6em;
    width: 45vw;
    position: fixed;
  }

  #section {
    width: 55vw;
    position: absolute;
    right: 0;
  }
}